<?xml version="1.0"?>
<model>
  <name>Opportunity Landing Site</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Evan Palmer</name>
    <email>evanp922@gmail.com</email>
  </author>
  <description>The landing site for the NASA Opportunity spacecraft.</description>
</model>
